## Visual Studio 相关
.vs/
 */bin
 */obj
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build 结果
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
msbuild.log
msbuild.err
msbuild.wrn

## Visual Studio 2015/2017 缓存目录
.vs/

## Visual Studio 2017 自动生成的文件
Generated\ Files/

## MSTest 测试结果
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NuGet 包
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## 项目特定的忽略
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc 